{varType array $references}
{layout layout.latte}
{block content}
  <ul class="sidebar">
    {foreach $references as $ref}
      {varType Kirameki\ApiDocGenerator\ClassInfo $ref}
      <li>
        <a href="{$ref->getHtmlPath()}">{$ref->name}</a>
      </li>
    {/foreach}
  </ul>
{/block}
