{layout layout.latte}
{varType array $tree}
{block content}
<div class="root">
  <nav class="sidebar">
    <h2>Classes</h2>
    {include sidebar.latte, tree: $tree}
  </nav>
  <iframe class="content" name="content"></iframe>
</div>
{/block}
