<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <base href="file:///Users/taka-mac/Projects/kirameki/api-doc-generator/docs/">
  <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
  <link rel="stylesheet" href="css/main.css">
  <title>Kirameki API Doc</title>
</head>
<body>
    {include content}
</body>
</html>
