{varType Kirameki\ApiDocGenerator\Support\Tree $tree}
<ul>
  {foreach $tree->namespaces as $name => $_tree}
    <li>
      <div class="sidebar-folder">
        {$name}
      </div>
      {include sidebar.latte, tree: $_tree}
    </li>
  {/foreach}
  {foreach $tree->classes as $basename => $leaf}
    <li>
      {varType Kirameki\ApiDocGenerator\Components\ClassDefinition $leaf}
      <a href="{$leaf->outputPath}" title="{$leaf->name}">
        {$basename}
      </a>
    </li>
  {/foreach}
</ul>
