{varType Kirameki\ApiDocGenerator\Tree $tree}
<ul>
  {foreach $tree->namespaces as $name => $leaf}
    <li>
      <div class="sidebar-folder">{$name}</div>
      {include sidebar.latte, tree: $leaf}
    </li>
  {/foreach}
  {foreach $tree->classes as $leaf}
    <li>
      {varType Kirameki\ApiDocGenerator\ClassInfo $leaf}
      <a href="{$leaf->getHtmlPath()}" target="content">{$leaf->basename}</a>
    </li>
  {/foreach}
</ul>
