{varType Kirameki\ApiDocGenerator\Types\StructureVarType $target}
{var $structure = $target->structure}
<var class="type-icon type-{$structure->type} {$structure->isAbstract ? "abstract" : ""}">{substr($structure->type, 0, 1)}</var>
