:root {
    --code-font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
    --code-font-size: 13.5px;
    --phpdoc-code-font-size: 12.5px;
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 6.5rem;
}
body {
    font-family: "inter", "inter Fallback",system-ui;
    font-size: 14px;
}
main {
    margin-left: 300px;
}
a {
    text-decoration: none;
    color: #1958cd;
}
a:hover {
    text-decoration: underline;
}
a.external-link i {
    margin-left: 0.1rem;
}
li {
    list-style-type: none;
}
var {
    font-family: var(--code-font-family);
    font-style: normal;
    color: #118383;
}
blockquote {
    margin-left: 0.1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-left: 0.5rem;
    border-left: 4px solid #d1d5db;
    color: #6b7280;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    overflow-y: auto;
    background-color: #f8f9fa;
    padding: 0.5rem 0;
    font-family: var(--code-font-family);
    font-size: var(--code-font-size);

    ul {
        padding-left: 1rem;
    }

    li {
        margin: 0.5rem 0;
        font-size: 0.8rem;

        a {
            display: flex;
            align-items: center;
            gap: 0.25rem;
        }
    }

    .sidebar-folder {
        color: #4b5563;
    }
}
.structure {
    .basics {
        background-color: #f4f4ff;
        font-family: var(--code-font-family);
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 2rem;
        position: sticky;
        top: 0;
        z-index: 10;

        .declaration {
            font-size: 1.1rem;

            .signature {
                gap: 0.5rem;
            }
        }
        .namespace {
            font-size: var(--code-font-size);

            .keyword {
                color: #2453b5;
            }
            .name {
                font-weight: bold;
            }
        }
        .structure-name {
            font-weight: bold;
            display: inline-flex;
        }
    }
    .internals {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin: 1.5rem 2rem;

        .extends,
        .implements {
            display: flex;
            align-items: baseline;

            ul {
                display: flex;
                flex-wrap: wrap;
                margin-left: 0.5rem;
                font-family: var(--code-font-family);
                font-size: var(--code-font-size);

                li {
                    margin-right: 0.25rem;
                    display: flex;
                }
            }
        }
        .extends li:not(:last-child)::after {
            margin-left: 0.25rem;
            content: "›";
            color: #bababa;
        }
        .implements li:not(:last-child)::after {
            margin-left: 0.25rem;
            content: "|";
            color: #dadada;
        }
        .traits {
            ul {
                li {
                    margin: 0.25rem 0.5rem;
                    display: flex;
                }
            }
        }
        .constants {
            h3 {
                padding: 0.25rem 0;
                border-bottom: 1px solid #e5e7eb;
            }
            .constant-signature {
                font-family: var(--code-font-family);
                margin: 1rem 0.5rem;

                .name {
                    color: #811f5a;
                }
            }
        }
        .properties {
            h3 {
                padding: 0.25rem 0;
                border-bottom: 1px solid #e5e7eb;
            }
            ul {
                display: flex;
                flex-direction: column;

                li {
                    border-bottom: 1px dashed #c7cdd5;
                    padding-top: 0.5rem;
                    padding-bottom: 0.5rem;
                }
                li:last-child {
                    border-bottom: none;
                }
            }
        }
        .methods-wrapper {
            h3 {
                margin: 0.5rem 0;
                padding: 0.25rem;
                border-bottom: 1px solid #e5e7eb;
            }
        }
        ul.methods {
            display: flex;
            flex-direction: column;

            li.method {
                position: relative;
                border-bottom: 1px dashed #e7e8ef;
                padding: 1.5rem 0;

                .signature {
                    .signature-start {
                        display: inline-flex;
                    }
                    .signature-end {
                        display: inline-flex;

                        .return {
                            display: inline-flex;

                            .delimiter {
                                color: #6b7280;
                            }
                        }
                    }
                    ul.parameters {
                        display: flex;
                        flex-direction: column;
                        margin-left: 2rem;

                        li.parameter {
                            display: flex;
                            margin-right: 0.5rem;

                            var {
                                margin-left: 0.5rem;
                            }
                            .default-set {
                                display: inline-flex;

                                .value {
                                    color: #936;
                                }
                            }
                            .assignment {
                                color: #6b7280;
                                margin: 0 0.5rem;
                            }
                            .delimiter {
                                color: #6b7280;
                            }
                        }
                        li.parameter:last-child {
                            margin-right: 0;
                        }
                    }
                }
                .signature.single-line {
                    display: flex;
                    ul.parameters {
                        margin-left: 0;
                    }
                }
                .details {
                    display: flex;
                    flex-direction: column;
                    gap: 1.5rem;
                    margin: 1rem;

                    h4 {
                        margin-bottom: 0.5rem;
                    }
                    .templates {
                        .template-list {
                            font-family: var(--code-font-family);
                            font-size: var(--code-font-size);
                            margin: 0.25rem 0.5rem;
                        }
                    }
                    .declared-in {
                        .declaration {
                            display: flex;
                            align-items: center;
                            padding: 0 0.5rem;
                            font-size: var(--code-font-size);

                            .type-icon {
                                margin-right: 0.25rem;
                            }
                        }
                    }
                    .parameters {
                        display: flex;
                        flex-direction: column;

                        table {
                            border-spacing: 0;
                            tr {
                                vertical-align: baseline;

                                td.name {
                                    padding: 0.25rem 0.5rem;
                                    width: 0;
                                    white-space: nowrap;
                                    vertical-align: baseline;

                                    var {
                                        font-size: var(--code-font-size);
                                    }
                                }
                                td.delimiter {
                                    width: 0;
                                    vertical-align: baseline;
                                }
                                td.description {
                                    padding: 0.25rem 0.5rem;
                                    width: max-content;
                                }
                            }
                            tr:hover {
                                background-color: #f9f9fb;
                            }
                        }
                    }
                    .return {
                        .return-type {
                            display: flex;
                            padding: 0 0.5rem;
                            font-size: var(--code-font-size);
                        }
                    }
                }
            }
            li.method:first-child {
                padding-top: 0.5rem;
            }
            li.method:last-child {
                border-bottom: none;
            }
            .anchor {
                position: absolute;
                margin-left: -1.3rem;
                margin-top: 1rem;
                opacity: 0;
                height: calc(100% - 1rem);
            }
            li:hover .anchor {
                opacity: 1;
            }
        }
    }
    .type {
        display: inline-flex;
        font-family: var(--code-font-family);
    }
    .generics {
        display: inline-flex;
        .brace {
            color: #6b7280;
        }
        .bound-delimiter {
            color: #6b7280;
        }
        .delimiter {
            margin-right: 0.25rem;
        }
    }
    .template-name {
        color: #5c84cd;
    }
    .modifiers {
        color: #2453b5;
        display: inline-flex;
    }
    .named-var {
        color: #2453b5;
    }
    .signature {
        font-family: var(--code-font-family);
        padding: 0.75rem 1rem;
        border-radius: 0.5rem;
        background-color: #f3f3f6;
        line-height: 1.5;
    }
    .default-set {
        display: inline-flex;

        .value {
            color: #936;
        }
    }
    .assignment {
        color: #6b7280;
        margin: 0 0.5rem;
    }
    .parenthesis,
    .delimiter {
        color: #6b7280;
    }
    .comment {
        line-height: 1.5;
        color: #666e6e;

        p {
            margin: 0.5rem 0;
        }
        p:first-child {
            margin-top: 0;
        }
        p:last-child {
            margin-bottom: 0;
        }
        p:has(+ pre) {
            margin: 0;
        }
        code {
            font-family: var(--code-font-family);
            font-size: var(--phpdoc-code-font-size);
            background-color: #f6f6f6;
            padding: 0.15rem;
            border-radius: 0.25rem;
        }
        pre code {
            display: block;
            padding: 0.4rem 0.5rem;
            overflow-x: auto;
        }
    }
}
.type-icon {
    border-radius: 1rem;
    border: 1px solid #a5b4fc;
    background-color: #f3f6ff;
    color: #4c69ff;
    font-size: 0.6rem;
    font-weight: bold;
    padding: 0.07rem 0.25rem;
    text-transform: uppercase;
}
.type-icon.type-class.abstract {
    border-style: dotted;
}
.type-icon.type-trait {
    color: #a855f7;
    border-color: #d8b6fc;
    background-color: #faf5ff;
}
.type-icon.type-interface {
    color: #16a34a;
    border-color: #9fcfaf;
    background-color: #f0fdf4;
}
