:root {
    --code-font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
    --code-font-size: 13px;
    --phpdoc-code-font-size: 12px;
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 6.5rem;
}
body {
    font-family: "inter", "inter Fallback",system-ui;
    font-size: 14px;
}
main {
    margin-left: 300px;
}
a {
    text-decoration: none;
    color: #3e68ba;
}
a:hover {
    text-decoration: underline;
}
a.external-link i {
    margin-left: 0.1rem;
}
li {
    list-style-type: none;
}
blockquote {
    margin-left: 0.1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-left: 0.5rem;
    border-left: 4px solid #d1d5db;
    color: #6b7280;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    overflow-y: auto;
    background-color: #f8f9fa;
    padding: 0.5rem 0;
    font-family: var(--code-font-family);
    font-size: var(--code-font-size);

    ul {
        padding-left: 1rem;
    }

    li {
        margin: 0.5rem 0;
        font-size: 0.8rem;
    }

    .sidebar-folder {
        color: #4b5563;
    }
}
.structure {
    .basic-info {
        position: sticky;
        top: 0;
        background-color: #f4f4ff;
        padding: 1rem 2rem;
        z-index: 10;

        .declaration {
            font-family: var(--code-font-family);
            font-size: 1.1rem;
        }
        .namespace {
            font-family: var(--code-font-family);
            font-size: var(--code-font-size);
            margin-bottom: 1rem;
        }
        .structure-name {
            font-weight: bold;
            display: inline-flex;
        }
    }
    .details {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin: 1.5rem 2rem;

        .constants {
            padding-top: 1rem;
            h3 {
                padding: 0.25rem 0;
                border-bottom: 1px solid #e5e7eb;
            }
            .constant-signature {
                font-family: var(--code-font-family);
                margin: 1rem 0.5rem;

                .name {
                    color: #811f5a;
                }
            }
        }
        .extends,
        .implements {
            font-family: var(--code-font-family);
            font-size: var(--code-font-size);
            display: flex;
            flex-direction: row;

            ul {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin-left: 0.5rem;

                li {
                    margin-right: 0.25rem;
                    display: flex;
                    flex-direction: row;

                    .type {
                        display: flex;
                        flex-direction: row;
                    }
                }
            }
        }
        .extends li:not(:last-child)::after {
            margin-left: 0.25rem;
            content: "›";
            color: #bababa;
        }
        .implements li:not(:last-child)::after {
            margin-left: 0.25rem;
            content: "|";
            color: #dadada;
        }
    }
    .generics {
        display: inline-flex;
        flex-direction: row;
        .brace {
            color: #6b7280;
        }
        .bound-delimiter {
            color: #6b7280;
        }
        .delimiter {
            color: #6b7280;
            margin-right: 0.25rem;
        }
    }
}
.properties {
    padding-top: 1rem;

    h3 {
        padding: 0.25rem 0;
        border-bottom: 1px solid #e5e7eb;
    }
    ul {
        display: flex;
        flex-direction: column;

        li {
            border-bottom: 1px dashed #c7cdd5;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;

            .signature {
                display: flex;
            }
            .var-name {
                color: #1f8135;
            }
        }
        li:last-child {
            border-bottom: none;
        }
    }
}
.methods-wrapper {
    h3 {
        margin: 0.5rem 0;
        padding: 0.25rem;
        border-bottom: 1px solid #e5e7eb;
    }
}
ul.methods {
    display: flex;
    flex-direction: column;

    li.method {
        position: relative;
        border-radius: 0.5rem;
        border-bottom: 1px dashed #e7e8ef;
        padding: 1rem 0;
    }
    li.method:last-child {
        border-bottom: none;
    }
    .anchor {
        position: absolute;
        margin-left: -1.3rem;
        margin-top: 1rem;
        opacity: 0;
        height: calc(100% - 1rem);
    }
    li:hover .anchor {
        opacity: 1;
    }

    .signature {
        gap: 0.5rem;

        .return {
            display: inline-flex;

            .delimiter {
                color: #6b7280;
            }
        }
        .parameters {
            margin-left: 1.5rem;
            .parameter {
                display: flex;
                margin-right: 0.5rem;

                var {
                    margin-left: 0.5rem;
                    color: #1f8179;
                    font-style: normal;
                }
                .default-set {
                    display: inline-flex;
                }
                .assignment {
                    color: #6b7280;
                    margin: 0 0.5rem;
                }
                .delimiter {
                    color: #6b7280;
                }
            }
        }
    }
}
.modifiers {
    color: #2453b5;
}

.signature {
    font-family: var(--code-font-family);
    padding: 0.75rem 1.25rem;
    border-radius: 0.5rem;
    line-height: 1.5rem;
    background-color: #f6f7f8;
    gap: 0.5rem;
}
.types {
    display: inline-flex;
}
.type {
    display: inline-flex;
}
.template-name {
    color: #068baa;
}
.comment {
    padding: 0.5rem;
    opacity: 60%;
    line-height: 1.5;

    p {
        margin: 0.5rem 0;
    }

    p:has(+ pre) {
        margin: 0;
    }

    code {
        font-family: var(--code-font-family);
        font-size: var(--phpdoc-code-font-size);
        background-color: #f2f2f4;
        padding: 0.15rem;
        border-radius: 0.25rem;
    }
    pre code {
        display: block;
        padding: 0.4rem 0.5rem;
        overflow-x: auto;
    }
}
