:root {
    --code-font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
    --code-font-size: 13px;
    --phpdoc-code-font-size: 12px;
}

body {
    font-family: "inter", "inter Fallback",system-ui;
    font-size: 14px;
}
main {
    margin-left: 300px;
}
a {
    text-decoration: none;
    color: #1d4ed8;
}
a:hover {
    text-decoration: underline;
}
a.external-link i {
    margin-left: 0.1rem;
}
li {
    list-style-type: none;
}
blockquote {
    margin-left: 0.1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-left: 0.5rem;
    border-left: 4px solid #d1d5db;
    color: #6b7280;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    overflow-y: auto;
    background-color: #f8f9fa;
    padding: 0.5rem 0;
    font-family: var(--code-font-family);
    font-size: var(--code-font-size);

    ul {
        padding-left: 1rem;
    }

    li {
        margin: 0.5rem 0;
        font-size: 0.8rem;
    }

    .sidebar-folder {
        color: #4b5563;
    }
}
.structure {
    .basic-info {
        position: sticky;
        top: 0;
        background-color: #f4f4ff;
        padding: 1rem;
        z-index: 10;

        .declaration {
            font-family: var(--code-font-family);
            font-size: 1.1rem;
        }
        .namespace {
            font-family: var(--code-font-family);
            font-size: var(--code-font-size);
            margin-bottom: 1rem;
        }
        .modifiers {
            color: #3e68ba;
        }
        .structure-name {
            font-weight: bold;
            display: inline-flex;
        }
    }
    .details {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin: 1.5rem;

        .constants {
            padding-top: 1rem;
            h3 {
                padding: 0.25rem 0;
                border-bottom: 1px solid #e5e7eb;
            }
            .constant-signature {
                font-family: var(--code-font-family);
                margin: 1rem 0.5rem;

                .modifiers {
                    color: #3e68ba;
                }
                .type {
                    color: #2563eb;
                }
                .name {
                    color: #811f5a;
                }
            }
        }
        .extends,
        .implements {
            font-family: var(--code-font-family);
            font-size: var(--code-font-size);
            display: flex;
            flex-direction: row;

            ul {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin-left: 0.5rem;

                li {
                    margin-right: 0.25rem;
                    display: flex;
                    flex-direction: row;

                    a {
                        display: flex;
                        flex-direction: row;
                    }
                    .no-link {
                        color: #6b7280;
                    }
                }
            }
        }
        .extends li:not(:last-child)::after {
            margin-left: 0.25rem;
            content: "›";
            color: #bababa;
        }
        .implements li:not(:last-child)::after {
            margin-left: 0.25rem;
            content: "|";
            color: #dadada;
        }
    }
    .generics {
        display: inline-flex;
        flex-direction: row;
        .brace {
            color: #6b7280;
        }
        .bound-delimiter {
            color: #6b7280;
        }
        .delimiter {
            color: #6b7280;
            margin-right: 0.25rem;
        }
    }
}
.properties {
    padding-top: 1rem;

    h3 {
        padding: 0.25rem 0;
        border-bottom: 1px solid #e5e7eb;
    }
    ul {
        display: flex;
        flex-direction: column;

        li {
            border-bottom: 1px dashed #c7cdd5;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
        }
        li:last-child {
            border-bottom: none;
        }
    }
}
.property-signature {
    font-family: var(--code-font-family);
    padding: 0.5rem;
    background-color: #f6f7f8;
    border-radius: 0.25rem;
    margin: 0.75rem 0;
}
.property-modifiers {
    color: #3e68ba;
}
.property-name {
    color: #1f8135;
}
.property-comment {
    padding: 0.5rem;
}
.property-comment > .phpdoc-description {
    margin-bottom: 1rem;
    opacity: 60%;
}
.methods {
    padding-top: 1rem;

    h3 {
        padding: 0.25rem 0;
        border-bottom: 1px solid #e5e7eb;
    }

    ul {
        display: flex;
        flex-direction: column;

        li {
            border-bottom: 1px dashed #c7cdd5;
            padding-top: 0.5rem;
            padding-bottom: 1rem;
        }
        li:last-child {
            border-bottom: none;
        }
    }
}
.method-signature {
    font-family: var(--code-font-family);
    padding: 0.5rem;
    background-color: #f6f7f8;
    border-radius: 0.25rem;
    margin: 0.75rem 0;
}
.method-modifiers {
    color: #3e68ba;
}
.method-comment {
    padding: 0.5rem;
}
.method-comment .phpdoc-description {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    opacity: 60%;
    line-height: 1.5;
}
.phpdoc-description code {
    font-family: var(--code-font-family);
    font-size: var(--phpdoc-code-font-size);
    background-color: #f2f2f4;
    padding: 0.15rem;
    border-radius: 0.25rem;
}
.phpdoc-description pre code {
    display: block;
    padding: 0.4rem 0.5rem;
    margin: 0.25rem 0;
    overflow-x: auto;
}
.phpdoc-tag {
    gap: 0.5rem;
    margin-top: 0.3rem;
    margin-bottom: 1.0rem;
}
.phpdoc-tag-name {
    font-family: var(--code-font-family);
    font-size: var(--code-font-size);
    color: #6791ec;
}
.phpdoc-type {
    font-family: var(--code-font-family);
    font-size: var(--code-font-size);
    color: #2563eb;
}
.phpdoc-var-name {
    font-family: var(--code-font-family);
    font-size: var(--code-font-size);
    color: #1f8135;
}
.phpdoc-tag .phpdoc-description {
    padding-left: 0.25rem;
    opacity: 60%;
}
